parameters:
    level: 8
    paths:
        - ./src
    excludePaths:
        - ./shops
        - ./vendor
        - ./node_modules
    bootstrapFiles:
        - shops/6.4.9.0/vendor/autoload.php
    checkGenericClassInNonGenericObjectType: false