includes:
    - ./phpstan-disallow-calls.neon
    - ./vendor/spaze/phpstan-disallowed-calls/extension.neon

parameters:
    level: 8
    paths:
        - ./src
    excludePaths:
        - ./shops
        - ./vendor
        - ./node_modules
    bootstrapFiles:
        - shops/6.6.10.18/vendor/autoload.php
    checkGenericClassInNonGenericObjectType: false