{% sw_extends '@Storefront/storefront/page/checkout/confirm/confirm-address.html.twig' %}

{% block page_checkout_confirm_address %}
    {% set billingNeedsCorrection = billingAddress.extensions.enderecoAddress.needsCorrection() %}
    {% set shippingNeedsCorrection = (billingAddress.id is not same as shippingAddress.id) ? shippingAddress.extensions.enderecoAddress.needsCorrection() : false %}
    {% set options = {
        billingNeedsCorrection: billingNeedsCorrection,
        shippingNeedsCorrection: shippingNeedsCorrection
    } %}

    <div
        class="row js-confirm-overview-addresses"{% if billingNeedsCorrection or shippingNeedsCorrection %} data-endereco-checkout-address data-endereco-checkout-address-options="{{ options|json_encode }}"{% endif %}>
        {{ block("page_checkout_confirm_address_billing") }}
        {{ block("page_checkout_confirm_address_shipping") }}
    </div>
{% endblock %}
