<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>API Settings</title>
        <title lang="de-DE">API Einstellungen</title>

        <input-field>
            <name>enderecoApiKey</name>
            <label>API Key</label>
            <label lang="de-DE">API Key</label>
            <helpText>Access key for the Endereco API.</helpText>
            <helpText lang="de-DE">Zugriffsschlüssel für die Endereco Schnittstelle.</helpText>
        </input-field>

        <input-field type="text">
            <name>enderecoRemoteUrl</name>
            <label>API URL</label>
            <label lang="de-DE">API URL</label>
            <defaultValue>https://endereco-service.de/rpc/v1</defaultValue>
            <placeholder>https://endereco-service.de/rpc/v1</placeholder>
            <helpText>Access URL for the Endereco API.</helpText>
            <helpText lang="de-DE">URL der Endereco API.</helpText>
        </input-field>

        <component name="endereco-api-check-button">
            <name>enderecoApiTest</name>
            <label>Check API connection</label>
            <label lang="de-DE">API Verbindung prüfen</label>
        </component>
    </card>

    <card>
        <title>Sales-Channel Settings</title>
        <title lang="de-DE">Verkaufskanaleinstellungen</title>

        <input-field type="bool">
            <name>enderecoActiveInThisChannel</name>
            <label>Active</label>
            <label lang="de-DE">Aktiv</label>
            <defaultValue>true</defaultValue>
            <helpText>If this toggle is set to active, then the plugin will be activated in this sales channel.</helpText>
            <helpText lang="de-DE">Mit dieser Einstellung kann man das Plugin in bestimmten Verkaufkanälen deaktivieren.</helpText>
        </input-field>
    </card>

    <card>
        <title>Personal Data Management Service</title>

        <input-field type="bool">
            <name>enderecoNameCheckActive</name>
            <label>Activate name check and set salutation automatically</label>
            <label lang="de-DE">Namensprüfung aktivieren und Anrede automatisch setzen</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>enderecoExchangeNamesAutomatically</name>
            <label>Correct transposed first and lastname (BETA)</label>
            <label lang="de-DE">Vertauschten Vor- und Nachnamen korrigieren (BETA)</label>
            <defaultValue>false</defaultValue>
        </input-field>
    </card>

    <card>
        <title>E-Mail Management Service</title>
        <input-field type="bool">
            <name>enderecoEmailCheckActive</name>
            <label>Activate e-mail address verification</label>
            <label lang="de-DE">E-Mail Adressprüfung aktivieren</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>enderecoShowEmailStatus</name>
            <label>Display email status messages</label>
            <label lang="de-DE">E-Mail Statusmeldungen anzeigen</label>
            <defaultValue>true</defaultValue>
        </input-field>
    </card>

    <card>
        <title>Address-Management Service</title>

        <input-field type="bool">
            <name>enderecoAMSActive</name>
            <label>AdressCheck and InputAssistant are active</label>
            <label lang="de-DE">Adressprüfung und Eingabe-Assistent aktivieren</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>enderecoAllowCloseIcon</name>
            <label>Allow closing the correction window</label>
            <label lang="de-DE">Schließen der Korrekturhinweise erlauben</label>
            <defaultValue>true</defaultValue>
            <helpText>If this function is active, a user can skip address suggestions of the address check without having to make a selection.</helpText>
            <helpText lang="de-DE">Ist diese Funktion aktiv, kann ein Nutzer Adressvorschläge der Adressprüfung übergehen ohne eine Auswahl treffen zu müssen.</helpText>
        </input-field>

        <input-field type="bool">
            <name>enderecoConfirmWithCheckbox</name>
            <label>Customer must confirm an incorrect address with a checkbox</label>
            <label lang="de-DE">Kunde muss eine fehlerhafte Adresse mit einer Checkbox bestätigen</label>
            <defaultValue>false</defaultValue>
            <helpText>If this function is active, the user must confirm his entered address if he does not want to accept an address suggestion from Endereco.</helpText>
            <helpText lang="de-DE">Ist diese Funktion aktiv, muss der Nutzer seine eingegebene Adresse bestätigen, wenn er kein Adressvorschlag von Endereco übernehmen möchte.</helpText>
        </input-field>

        <input-field type="bool">
            <name>enderecoSplitStreetAndHouseNumber</name>
            <label>Divide street into street name and house number</label>
            <label lang="de-DE">Straße in Straßenname und Hausnummer unterteilen</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>enderecoCheckExistingAddress</name>
            <label>Existing customers who have not yet been checked are automatically checked when they log in and access an address form page</label>
            <label lang="de-DE">Bestandskunden, die noch nicht geprüft wurden, werden bei einem Login und Aufruf einer Adressformular-Seite automatisch geprüft.</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>enderecoCheckPayPalExpressAddress</name>
            <label>Check addresses from PayPal Express Checkout</label>
            <label lang="de-DE">PayPal Express Checkout Adressen prüfen</label>
            <defaultValue>false</defaultValue>
        </input-field>
    </card>

    <card>
        <title>Phone-Management Service</title>

        <input-field type="bool">
            <name>enderecoPhsActive</name>
            <label>Activate phone number check</label>
            <label lang="de-DE">Rufnummernprüfung aktivieren</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="single-select">
            <name>enderecoPhsUseFormat</name>
            <options>
                <option>
                    <id>E164</id>
                    <name>E.164 (+4912345678901)</name>
                    <name lang="de-DE">E.164 (+4912345678901)</name>
                </option>
                <option>
                    <id>INTERNATIONAL</id>
                    <name>International (+49 1234 5678901)</name>
                    <name lang="de-DE">International (+49 1234 5678901)</name>
                </option>
                <option>
                    <id>NATIONAL</id>
                    <name>National (01234 5678901)</name>
                    <name lang="de-DE">National (01234 5678901)</name>
                </option>
                <option>
                    <id>all</id>
                    <name>Alles zulassen</name>
                    <name lang="de-DE">Germany</name>
                </option>
            </options>
            <defaultValue>E164</defaultValue>
            <label>Following format is expected</label>
            <label lang="de-DE">Folgendes Format wird erwartet</label>
        </input-field>

        <input-field type="single-select">
            <name>enderecoPhsDefaultFieldType</name>
            <options>
                <option>
                    <id>general</id>
                    <name>Mobile or fixed line number</name>
                    <name lang="de-DE">Mobil- oder Festnetznummer</name>
                </option>
                <option>
                    <id>mobile</id>
                    <name>Only mobile number</name>
                    <name lang="de-DE">Nur Mobilfunknummer</name>
                </option>
                <option>
                    <id>fixedLine</id>
                    <name>Only fixed line number</name>
                    <name lang="de-DE">Nur Festnetznummer</name>
                </option>
            </options>
            <defaultValue>general</defaultValue>
            <label>Allowed phone number</label>
            <label lang="de-DE">Erlaubte Telefonnummer</label>
        </input-field>

        <input-field type="bool">
            <name>enderecoShowPhoneErrors</name>
            <label>Display phone status messages</label>
            <label lang="de-DE">Rufnummer Statusmeldungen anzeigen</label>
            <defaultValue>true</defaultValue>
        </input-field>
    </card>

    <card>
        <title>Advanced Configuration</title>
        <title lang="de-DE">Erweiterte Einstellungen</title>

        <input-field type="bool">
            <name>enderecoTriggerOnBlur</name>
            <label>Check address immediately after the entry</label>
            <label lang="de-DE">Adressprüfung sofort nach der Eingabe der Adresse ausführen</label>
            <defaultValue>true</defaultValue>
            <helpText>If the function is active, the address check is triggered immediately after the address is entered.</helpText>
            <helpText lang="de-DE">Ist die Funktion aktiv, wird die Adressprüfung sofort nach der Eingabe der Adresse angestoßen.</helpText>
        </input-field>

        <input-field type="bool">
            <name>enderecoTriggerOnSubmit</name>
            <label>Check address when the form is submitted</label>
            <label lang="de-DE">Adressprüfung beim Absenden des Adressformulars ausführen</label>
            <defaultValue>true</defaultValue>
            <helpText>Endereco blocks the sending of the address form and checks the address. If it needs to be corrected, a message box appears with suggested corrections. (This function should be active)</helpText>
            <helpText lang="de-DE">Endereco blockiert das Absenden des Adressformulars und prüft die Adresse. Falls sie korrigiert werden muss, erscheint ein Hinweisfenster mit Korrekturvorschlägen. (Diese Funktion soll aktiv sein)</helpText>
        </input-field>

        <input-field type="bool">
            <name>enderecoContinueSubmit</name>
            <label>Continue submit after the address has been checked</label>
            <label lang="de-DE">Absenden des Adressformulars nach der Adressprüfung fortsetzen</label>
            <defaultValue>true</defaultValue>
            <helpText>If this function is active, after selecting an address from the correction suggestions, the sending of the address form is automatically continued. If it is inactive, the user remains on the same page and has to submit the address form again.</helpText>
            <helpText lang="de-DE">Ist diese Funktion aktiv, wird nach der Auswahl einer Adresse aus den Korrekturvorschlägen das Absenden des Adressformulars automatisch fortgesetzt. Ist sie inaktiv, bleibt der Nutzer auf der gleichen Seite und muss das Adressformular nochmal absenden.</helpText>
        </input-field>

        <input-field type="text">
            <name>enderecoPathToIOPhp</name>
            <label>Input the path to proxy file "io.php" manually (optional)</label>
            <label lang="de-DE">Standard-Pfad zur Proxydatei "io.php" anpassen (optional)</label>
            <defaultValue></defaultValue>
            <placeholder>%SHOP_URL%/io.php</placeholder>
            <helpText>If there are problems with the proxy file "io.php" (e.g. when using AMAZON AWS) or plugin bundles are stored in another folder, the path to the "io.php" file can be defined manually. A copy of the io.php should be in the "/public" folder. Thus, "%SHOP_URL%/io.php" can be entered as the path.</helpText>
            <helpText lang="de-DE">
                Wenn Probleme bei der Ausführung der Proxy-Datei "io.php" bestehen (z.B. beim Einsatz von AMAZON AWS,
                oder wenn Plugin-Bundles in einem anderen Ordner gespeichert werden), kann der Pfad zur "io.php" Datei
                manuell hinterlegt werden. Eine Kopie der io.php Datei kann im "/public" Ordner erstellt werden. Dann
                kann z.B.  der Pfad "%SHOP_URL%/io.php" eingetragen werden.
            </helpText>
        </input-field>

        <input-field type="bool">
            <name>enderecoWhitelistController</name>
            <label>Load endereco.min.js only on whitelisted pages (standard pages containing address forms).</label>
            <label lang="de-DE">Endereco JavaScript Datei nur auf bestimmten Seiten laden (Standardseiten mit Adressformularen).</label>
            <defaultValue>true</defaultValue>
            <helpText>If this function is active, the endereco.min.js file will be loaded only on defined pages which increases the performance of the site. Standard controller namens are already whitelisted.</helpText>
            <helpText lang="de-DE">Ist diese Funktion aktiv, wird die endereco.min.js Datei nur auf bestimmten Seiten geladen. Dadurch verbessert sich die Ladezeit des Shops. Standard Controller Namen sind bereits in der Whitelist.</helpText>
        </input-field>

        <input-field type="text">
            <name>enderecoWhitelistControllerList</name>
            <label>Activate plugin also for the following controllers (optional, comma-separated)</label>
            <label lang="de-DE">Plugin auch für folgende Controllern aktivieren (optional, kommagetrennt)</label>
            <defaultValue></defaultValue>
            <placeholder>ControllerName1,ControllerName2</placeholder>
            <helpText>The Javascript from Endereco is loaded for the controllers specified here. The controller names must be entered separated by ",".</helpText>
            <helpText lang="de-DE">Das Javascript von Endereco wird bei den hier hinterlegten Controllern ausgegeben. Die Controller Namen müssen mit "," getrennt eingeben werden.</helpText>
        </input-field>
    </card>
</config>
